```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.env
.env.local
.env.*
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Logs
*.log

# Environment specific
.backend/.env
```